*.DS_Store
*~
build/
Icon?
*.tmproj
delete-me.txt
delete_me.txt
.classpath
.project
.scala_dependencies
.settings
lib/postgresql-9.0-801.jdbc4.jar
PerformanceLog.txt
PerformanceLog.ods
nbproject/
.~*
target/
build.properties
log.txt
*.iml
bin
.idea
.metadata
